<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Cookies HQ</title>

  <!-- Bootstrap core CSS -->


  <!-- Custom styles for this template -->
  <link href="static/css/jumbotron-narrow.css" rel="stylesheet">
  <script src="https://code.angularjs.org/1.6.9/angular.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <link href="static/css/bootstrap.min.css" rel="stylesheet">
  <script src="static/js/myangular.js"></script>


</head>

<body ng-app="DemoApp" ng-controller="DemoController">

    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#" data-toggle="modal" ng-click="showAddPopUp()" >Add Cookie</a></li>
                    <li role="presentation" class="active"><a href="#" data-toggle="modal" ng-click="addCookiesFromCsv()" >Add Cookies from CSV</a></li>
                    <!-- <input type="file" title="" accept="image/*"  ng-file-select="addCookiesFromCsv($files)" class="upload" /> -->
                </ul>
            </nav>
            <h3 class="text-muted">cookies!</h3>
        </div>

        <div class="bs-example" data-example-id="panel-without-body-with-table">
          Hello: {{'{{firstName}}'}}<br/>
          First Name: <input type="text" ng-model="firstName"/><br/>

          <br/>
          <button ng-click="onReset()">Reset</button>
            <div class="panel panel-default">
                <div class="panel-heading">Cookie List</div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>flavor</th>
                            <th>temp</th>
                            <th>toppings</th>
                            <th>date_baked</th>
                            <th>deliciousness</th>
                            <th>radius</th>
                            <th>fresh</th>
							<th></th>
							<th></th>
							<th></th>
                        </tr>
                    </thead>
                    <tbody>

                      <tr ng-repeat="cookie in cookies track by $index">
                        <td> {{'{{cookie.flavor}}'}}</td>
                        <td>{{'{{cookie.temp}}'}}</td>
                        <td>{{'{{cookie.toppings}}'}}</td>
                        <td>{{'{{cookie.date_baked}}'}}</td>
                        <td>{{'{{cookie.deliciousness}}'}}</td>
                        <td>{{'{{cookie.radius}}'}}</td>
                        <td>{{'{{cookie.fresh}}'}}</td>

							<td><span style="cursor:pointer;" ng-click="editCookie(cookie.unique_id)" class="glyphicon glyphicon-pencil" aria-hidden="true"></span></td>
							<td><span style="cursor:pointer;color:#e43309;" ng-click="confirmDelete(cookie.unique_id)" class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="modal fade" id="addPopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel" >another cookie</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="txtFlavor" class="control-label">Flavor:</label>
                        <input type="text" class="form-control" ng-model="info.flavor" id="txtFlavor">
                    </div>
                    <div class="form-group">
                        <label for="txtTemp" class="control-label">Temp:</label>
                        <input type="text" class="form-control" ng-model="info.temp" id="txtTemp">
                    </div>
                    <div class="form-group">
                        <label for="txtToppings" class="control-label">Toppings:</label>
                        <input type="text" class="form-control" ng-model="info.toppings" id="txtToppings">
                    </div>
                    <div class="form-group">
                        <label for="txtDeliciousness" class="control-label">Deliciousness:</label>
                        <input type="text" class="form-control" ng-model="info.deliciousness" id="txtDeliciousness">
                    </div>
                    <div class="form-group">
                        <label for="txtRadius" class="control-label">Radius:</label>
                        <input type="text" class="form-control" ng-model="info.radius" id="txtRadius">
                    </div>
                    <div class="form-group">
                        <label for="txtFresh" class="control-label">Fresh:</label>
                        <input type="text" class="form-control" ng-model="info.fresh" id="txtFresh">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button"  class="btn btn-default" data-dismiss="modal">Close</button>
                <button ng-show="showAdd" id="btnAdd" ng-click="addCookie()" type="button" class="btn btn-primary">Add cookie</button>

      <button ng-show="!showAdd" id="btnAdd" ng-click="updateCookie()" type="button" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
  </div>

  <div id="deleteConfirm" class="modal fade bs-example-modal-md in" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="myLargeModalLabel">You are about to delete this entry. Do you want to proceed ?</h4> </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" ng-click="deleteCookie()" class="btn btn-primary">Delete</button>
      </div>
    </div>
  </div>
</div>

<div id="csvUpload" class="modal fade bs-example-modal-md in" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <input ng-model="photo"
       onchange="angular.element(this).scope().file_changed(this)"
       type="file" accept="csv/*" />
    <!-- <input type="file" title="" accept="csv/*"  ng-file-select="onFileSelect()" class="upload" /> -->
    <!--
    <form enctype = "multipart/form-data">
       <input type = "file" name = "file" />
       <input type = "submit"/>
    </form>
  -->
  </div>
</div>
</div>

    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

</body>
</html>
